<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <title>Document</title>
</head>
<body>
    <nav id="nav" class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://c0.klipartz.com/pngpicture/19/574/gratis-png-social-media-computadora-iconos-linkedin-logo-receta.png" alt="Logo" width="70" height="60" class="d-inline-block align-text-top">
            Recetas
          </a>
        </div>
      </nav>
      <div id="jumbotron" class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Bienvenido!</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, reiciendis delectus. Dolorum quae, nobis perspiciatis quidem aliquam sequi necessitatibus dolore quasi autem dolorem aliquid totam aspernatur, dicta, consequuntur non inventore.</p>
            <button id="cerrarJumbotron" class="btn btn-outline-light" type="button">cerrar</button>
          </div>
        </div>



        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://saborargento.com.ar/wp-content/uploads/2023/06/Receta-de-Milanesa-con-Pure.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Milanesas con puré </h5>
                      <p class="card-text">¡Un clasico argentino! si no sabes como se preparan acá te dejo la receta👇</p>
                      <a href="https://www.airedesantafe.com.ar/ocio/receta-casera-milanesas-pure-papas-un-clasico-que-nunca-falla-n204164?gclid=CjwKCAiA-P-rBhBEEiwAQEXhHwducGbU2dmwbkj78GNtLWgoLabYj7jFLeaalibonbBc49kDdkIUFhoC6zMQAvD_BwE" class="btn btn-primary">receta</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://img-global.cpcdn.com/recipes/c7bcaa5b60b4e310/680x482cq70/noquis-de-semola-muy-faciles-y-economicos-foto-principal.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Ñoquis de papa</h5>
                      <p class="card-text">No son como los de tu abuela pero se van a parecer 🥔✨</p>
                      <a href="https://www.recetasgratis.net/receta-de-noquis-de-papa-con-salsa-de-tomate-60724.html" class="btn btn-primary">receta</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://scm-assets.constant.co/scm/unilever/2bb5223be0548fcc55c230aa5f951219/6e483ef7-91e6-442a-8cf8-6cbbb35ddc2b.png " class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Empanadas</h5>
                      <p class="card-text">Empanadas SUPER HIPER MEGA ricas, te dejo la receta👇</p>
                      <a href="https://www.recetasgratis.net/receta-de-empanadas-santiaguenas-77017.html" class="btn btn-primary">Receta</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://img-global.cpcdn.com/recipes/6c6c39c20ebf270b/1360x964cq70/guiso-de-fideos-monitos-foto-principal.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Guiso de fideo moñito</h5>
                      <p class="card-text">sin duda otro clasico, lo hacia tu abuela, tu mamá, tu tia, ¿y porque vos no?</p>
                      <a href="https://cookpad.com/ar/recetas/16894000-guiso-de-fideos-monitos" class="btn btn-primary">receta</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      
  <footer class="footer">Hola, esta pagina fue creada por Bianca Diaz el dia 18/12/2023</footer>
</body>
</html>